<footer class="footer">
  <div class="container">
    <div class="footer-links">
      <a href="/">Home</a>
      <span class="divider">|</span>
      <a href="/library">Library</a>
      <span class="divider">|</span>
      <a href="/about">About</a>
    </div>
    <p class="footer-text"> CST 336 2025 Pokédex</p>
  </div>
</footer>
