<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body class="text-center">
    
    <h1 style="background-color: #EE1B24; font-size: 5rem; color:white; text-align:center; padding:2rem 0;">Pokédex</h1>
    <%- include('partials/navbar') %>
    <br>
    <br>

    <div class="paragraph">
        
        <h1>About This Pokédex</h1>
        <br>
        <p>This Pokédex application was developed to provide users with detailed information about various Pokémon. It utilizes the PokéAPI to fetch data and presents it in an easy-to-navigate interface.</p>
        <p>Features include searching for Pokémon by name, viewing their stats, abilities, and types, as well as browsing a library of all available Pokémon.</p>
        <p>Developed by Justin Tzneg, this project aims to educate people what kind of Pokémon exist.</p>
        <br>
    </div>

    <%- include('partials/footer') %>
    
</body>
</html>