/* Reset and global font */
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; /* same font everywhere */
}

.homeInput {
  flex: 1;
}


.navbar {
  background-color: #21abcd;
  padding: 10px 20px;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px; 
}


.navbar a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-size: 1.2rem;
  transition: color 0.2s ease-in-out;
}


h1 {
  margin: 0;
  padding: 0;
  color: black;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; /* match font */
}


.footer {
  background-color: black;
  padding: 20px 0;
  text-align: center;
  margin-top: 50px;
}

.footer p {
  margin: 0;
  color: white;
}

.footer a {
  text-decoration: none;
  color: white;
  margin: 0 5px;
  padding: 1rem 0;
}

.footer a:hover {
  text-decoration: underline;
}



.pokemonArchive{
  display: flex; 
  flex-wrap: wrap; 
  justify-content: center; 
  gap: 20px;               
  margin-top: 20px;
}


.pokemon-card {
  display: flex;          
  flex-direction: column;
  align-items: center;    
  background-color: #f2f2f2; 
  padding: 10px;
  border-radius: 10px;
  width: 150px; 
}

.pokemon-card img {
  width: 100px;
  height: auto;
  margin-bottom: 10px;
}

.pokemon-card p {
  text-align: center;
  font-weight: bold;
  font-size: 1rem;
  margin: 0;
}

.paragraph {
  display: flex;
  flex-direction: column;
  min-height: 60vh;
  text-align: center;
}